/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Racing Sans One";
  src: url("../../fonts/RacingSansOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


html {
  color-scheme: light dark;

  --background: light-dark(#f2f2f2, #242424);
  --card-background: light-dark(#d9d9d9, #303030);
  --color: light-dark(#000000, #ffffff);
  --border: light-dark(#555555, #a9a9a9);
  --pattern: light-dark(#dddddd, #2d2d2d);
  --accent: #ff2028;
}

html:has( [value="light-theme"]:checked ) {
  color-scheme:light;
}

html:has( [value="dark-theme"]:checked ) {
  color-scheme:dark;
}

body {
  
  background-color: var(--background);
  color: var(--color);

  font-family: "Racing Sans One", sans-serif;
}


/* ACHTERGROND */
body {
  background-color: var(--background);

  background-image:
  linear-gradient(
    45deg,
    var(--pattern) 25%,
    transparent 25%,
    transparent 75%,
    var(--pattern) 75%
  ),
  linear-gradient(
    45deg,
    var(--pattern) 25%,
    transparent 25%,
    transparent 75%,
    var(--pattern) 75%
  );
  background-size: 5em 5em;
  background-position:
  0 0,
  2.5em 2.5em;

  background-attachment: fixed;
  
}

/* PAGINA */
.page {
  width: min(100%, 650px);
  margin: 0 auto;
  padding: 2em 1.2em 3em;
}

/* TITEL */
.intro {
  text-align: center;
  margin-bottom: 3em;
}

.intro h1 {
  margin: 0;
  color: var(--color);
  font-family: "Racing Sans One", sans-serif;
  line-height: 0.95;
  font-style: normal;
  font-size: 120px;
}

/* BLOKKEN TIJDLIJN */
.timeline-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-bottom: 2.5em;
  padding: 0.7em 0.8em 0.7em 1.2em;
  background-color: var(--card-background);
  border: 4px solid var(--border);
  border-radius: 0.9em;
}

/* LAYOUT LAPTOP FORMAAT */
@media (width > 40em) {
  .timeline-item {
    grid-template-columns: 19fr 15fr;
    align-items: center;
  }
}

/* JAARTALLEN */
.text h2 {
  margin: 0 0 0.1em;
  color: #ff2028;
  font-family: "Racing Sans One" , sans-serif;
  font-size: clamp(5rem, 20vw, 7rem);
  line-height: 0.85;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.08em;
}

/* TEKSTEN */
.text p {
  margin: 0.6em 0 0;
  color: var(--color);
  font-family: "Racing Sans One", sans-serief;
  font-size: clamp(0.85rem, 2.8vw, 1.2rem);
  line-height: 1.25;
  font-style: normal;
  font-weight: 400;
}

/* ENKELE AFBEELDINGEN */
.timeline-item > img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.8em;
}

/* DUBBELE AFBEELDINGEN */
.images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5em;
}


.images img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.8em;
}
  
/* GROTERE BLOKKEN */
.timeline-item.large {
  align-items: start;
}


/* MOBIEL FORMAAT */

@media (width <= 40em) {
  .page{
    width: 100%;
    padding: 1.2em 1em 2em;
  }

  .intro {
    margin-bottom: 2.5em;
  }

  .intro h1 {
    font-size: 12vw;
  }

  .timeline-item {
    grid-template-columns: 1fr;
    gap: 1em;
    margin-bottom: 2em;
    padding: 0.7em 0.7em 1em;
    border-radius: 0.8em;
  }

  .text h2 {
    font-size: 13vw;
    letter-spacing: 0.04em;
  }

  .text p {
    font-size: 3.2vw;
    line-height: 1.3;
  }

  .timeline-item > img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 0.7em;
  }

  .images {
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }

  .images img {
    aspect-ratio: 1/1;
    border-radius: 0.7em;
  }
}


@keyframes --h1 {
  0% {
    scale:1;
  }
  100% {
    scale:1.2;
  }
}

