/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Racing Sans One";
  src: url("fonts/Racing_Sans_One.zip");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Comic Relief", system-ui;
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}



@keyframes --h1 {
  0% {
    scale:1;
  }
  100% {
    scale:1.2;
  }
}